body {
  font-family: "CODE";
  color: white;
}

.Body {
	background-color: black;
	color: white;
	mask-image: ATS ;
}
@font-face {
  font-family: CODE;
  src: url("Bilder/CODE.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
.Rubrik {
	font-size: 2.5rem;
	border: 5px solid white;
	margin: 50px;
	padding: 20px;
	border-radius: 20px;
	font-family: "CODE",sans-serif;
}
.Bog {
	padding: 20px;
}
.ex1 {
color: white;
transition: color 2.2s;
}
.ex1:hover, .ex1:active {
  color: red; 
  font-size: 100%; 
  font-family: monospace;
}
.ex2 {
  position: absolute;
  top: 140px;
  left: 1392px;
}
.rgb {
  font-family: monospace;
  font-size: 3em;
  animation: color-change 7.5s infinite;
}

@keyframes color-change {
  0% { color: red; }
  10% { color:orange; }
  20% { color: yellow; }
  30% { color: lawngreen; }
  40% { color: turquoise; }
  50% { color: cyan; }
  60% { color: #008fff; }
  70% { color: magenta; }
  80% { color: deeppink; }
  90% { color: #ff0083; }
  100% { color: red; }
}

#imageToMove {
  position: absolute; /* Enables positioning */
  top: 150px;
  left: 1350px;
  width: 50px;
}

#karta {
  position: relative;
  left: -30px;
}