.Sidebar {
    position: absolute;
    color: white;
    border: 3px solid rgba(177, 149, 65, 0.688);
    border-style: none;
    background-color: rgb(40, 40, 40);
    left: 0px;
    top: 0px;
    margin-right: 90%;
    padding-bottom: 100%;
    padding-left: 5px;
    padding-right: 0px;
}
.Edvinhus {
    position: absolute;
    padding-right: 7.5%;
    border: 2px solid white;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    border-radius: 2px;
    left: 10px;
    top: 5px;
}
.options {
    padding-top: 90px;
}
.bar {
    position: relative;
    left: -9px;
    top: -35px;
}
#expand {
    padding-left: 150px;
}
#grad3 {
    position: relative;
    z-index: -2;
    left: -100px;
    height: 10000px;
    background-color: white; /* For browsers that do not support gradients */
    background-image: linear-gradient(white 0%, white 75%, rgb(152, 152, 152) 85%, rgb(87, 87, 87) 90%, rgb(32, 32, 32) 95%);
  }
  #grad4 {
    position: relative;
    z-index: -1;
    left: 8px;
    top: -10000px;
    height: 10000px;
    background-color: white; /* For browsers that do not support gradients */
    background-image: linear-gradient(white 0%, white 75%, rgb(152, 152, 152) 85%, rgb(87, 87, 87) 90%, rgb(32, 32, 32) 95%);
  }