/* gustavs kod */
body {
    max-height: 39990px;
    overflow-x: hidden;
}
/* edvins kod */
/* Dator */
@media screen and (min-width: 1201px) {
    .Sidebar {
        position: absolute;
        color: white;
        border: 3px solid rgba(177, 149, 65, 0.688);
        border-style: none;
        background-color: rgb(40, 40, 40);
        left: 0px;
        top: 0px;
        margin-right: 80%;
        padding-bottom: 2602%;
        padding-left: 25px;
        padding-right: 95px;
        background-image: linear-gradient(rgb(40, 40, 40) 0%, rgb(40, 40, 40) 87%, rgb(19, 19, 19) 95%);
    }
    .Loggotyp {
        position: absolute;
        left: 5px;
        top: 20px;

    }
    /*.Edvinhus {
        position: absolute;
        padding-right: 7.5%;
        border: 2px solid white;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 15px;
        border-radius: 2px;
        left: 10px;
        top: 5px;
    } */
    /* Toggle meny */
    #toggle {
        position: absolute;
        left: 0;
        top: 90px;
        width: 100%;
        z-index: 1;
        opacity: 0;
        cursor: pointer;
        height: 45px;
      }
    .meny {
        border: 3px;
    }
    .ulla {
        position: relative;
        top: -10px;
    }
      #toggle:checked ~ ul {
        visibility: hidden;
        opacity: 0;
      }
    #expand {
        padding-left: 150px;
    }
    #toggle:not(:checked) ~ ul {
        opacity: 1;
        transition: opacity 0.3s ease-in-out;
}
}

/* Mobil */
@media screen and (max-width: 800px) {
    body {
        font-size: 55%;
        width: 100px;
        overflow-x: hidden;
    }
    .Sidebar {
        position: absolute;
        color: white;
        border: 3px solid rgba(177, 149, 65, 0.688);
        border-style: none;
        background-color: rgb(40, 40, 40);
        left: 0px;
        top: 0px;
        margin-right: 80%;
        padding-bottom: 100%;
        padding-left: 2px;
        padding-right: 0px;
    }
    .Edvinhus {
        position: absolute;
        padding-right: 7.5%;
        border: 2px solid white;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 10px;
        border-radius: 2px;
        left: 7px;
        top: 5px;
    }
    .options {
        padding-top: 55px;
    }
    .bar {
        position: relative;
        left: -9px;
        top: -35px;
    }
    #expand {
        padding-left: 100px;
    }

/* gustavs kod */
}
.options {
    padding-top: 90px;
}
.bar {
    position: relative;
    left: -9px;
    top: -35px;
}
.Ner_Bild {
    position: absolute;
    top: 39157px;
    right: 1px;
}
.Backrooms {
    position: absolute;
    top: 39690px;
    left: 1370px;
}
#expand {
    padding-left: 150px;
}
#grad3 {
    position: relative;
    z-index: -2;
    left: -100px;
    height: 40000px;
    background-color: white; /* For browsers that do not support gradients */
    background-image: linear-gradient(white 0%, white 25%, rgb(152, 152, 152) 65%, rgb(87, 87, 87) 80%, rgb(19, 19, 19) 95%);
  }
  #grad4 {
    position: relative;
    z-index: -1;
    left: 8px;
    top: -40000px;
    height: 40000px;
    background-color: white; /* For browsers that do not support gradients */
    background-image: linear-gradient(white 0%, white 25%, rgb(152, 152, 152) 65%, rgb(87, 87, 87) 80%, rgb(19, 19, 19) 95%);
  }
